<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>
  <p>This is the home page for the Ruby on Rails Tutorial Sample App.</p>
  <%= link_to  "Sign up now!", "/signup", class: "btn btn-large btn-primary" %>
</div>
