<footer class="footer">
  <small>
    Design by: <a href="#">Patrick Scully</a>"
  </small>
  <nav>
    <ul>
      <li><%= link_to  "About", about_path %></li>
      <li><%= link_to  "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
