<header class="navbar navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to  "sample app", root_path, id: "logo", class: "navbar-brand" %>
      <nav>
        <ul class="nav justify-content-end nav-tabs">
          <li class="nav-item">
            <%= link_to  "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to  "Help", help_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to  "Sign In", '#', class: "nav-link" %>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
